
<nav class="navbar navbar-dark bg-secondary">
<link href="https://fonts.googleapis.com/css?family=Bangers|Berkshire+Swash|Ranga&display=swap" rel="stylesheet">
<div  class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
            <a class="navbar-brand" style="font-family: 'Berkshire Swash';color:white" >RWAGASABO TOUR </a>
      </div>
      <div  class="navbar-collapse collapse"id="navbarNavDropdown">
          <ul class="nav navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/" style="color: white;font-weight: bold">Home</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('main.About')}}" style="color: white;font-weight: bold">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.locatn')}}" style="color: white;font-weight: bold">suggest Location</a>
                  </li>
                <!-- <li class="nav-item dropdown">
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          
                            <a style="color: black;font-weight: bold"class="dropdown-item" href="#">SAFARI Tours<br></a>
                        
                          <a  style="color: black;font-weight: bold"class="dropdown-item" href="#">WILSON Tours<br></a>
                         
                          <a  style="color: black;font-weight: bold"class="dropdown-item" href="#">IKAZE Tour<br></a>
                           
                          <a style="color: black;font-weight: bold"class="dropdown-item" href="#">Jallyna Tour</a>
                        </div>
                      </li> -->class="nav navbar-nav navbar-right">
                      {% if current_user.is_authenticated %}
                      <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="color: white;font-weight:bold">Profile</a></li>
                      <li><a href="{{url_for('auth.logout')}}" style="color: white;font-weight:bold">Sign out</a></li>
                      {% else %}
                      <li><a  style="font-weight: bold" href="{{url_for('auth.login')}}">Sign in</a></li>
                      {%endif%}
                    
                    </ul>
                      <li  class="nav-item">
                      <a class="nav-link" href="{{url_for('main.new_book')}}"><button  style="margin-left: 1000px;color: rgb(38, 47, 75);"  class="btn btn-outline-success my-2 my-sm-0" type="submit">BOOK NOW</button></a><br>
                      <br><a class="nav-link" href="{{url_for('main.comment')}}"><button  style="margin-left: 1020px;color: rgb(38, 47, 75)"  class="btn btn-outline-success my-2 my-sm-0" type="submit">COMMENT</button></a>
                      </li>
                    
                    
             
      </div>
      
  </div>
</div>
</nav>
