{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container"  style="color: white;background-color:black;opacity:0.8;width: 50%">
       <div class="">
       <div class="col-md-8" id="postform">
           <h2 class="text-center">Book Now</h2>
           {{wtf.quick_form(form)}}
       </div>
       <br>
   </div>

</div>

<footer style=" font-family:' Berkshire Swash';color: white;background-color:black;opacity:0.8">
 

        <div style="color: black">
          <div class="container">
      
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-56text-center text-md-left mb-4 mb-md-0">
                <h6 style="margin-left:260px;color: white;font-family:' Berkshire Swash';text-align: center;font-size: 23px">Get connected with us through!</h6>
                <hr style="width: 15%;margin-left: 73%">
               
            
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-6 text-center text-md-right">
      
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram white-text"> </i>
                </a>
      <div class="row py-4 d-flex align-items-center">
    
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
    
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
    
        </div>
        <!-- Grid column -->
    
      </div>
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row-->
      
          </div>
        </div>
      
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
      
          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-4 mb-4">
      
              <!-- Content -->
              <h6 style="color: white; text-align: center ;font-family:' Berkshire Swash'; font-size: 23px">RWAGASABO-Tour-APP</h6>
              <hr  style="width: 60px;margin-left: 35%">
              <p style="color:white">Here you can use the information above to book and reach on us through the social media below to organize activities
                  we really appreciate for guiding us.</p>
                  <br><a class="nav-link" href="{{url_for('main.comment')}}"><button  style="margin-left: 60px;color: rgb(38, 47, 75)"  class="btn btn-success" type="submit">COMMENT</button></a>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
      
              <!-- Links -->
              <h6 style="color: white;text-align: center ;font-family:' Berkshire Swash'; font-size: 23px">Products</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;margin-left: 40%">
              <p>
                <a class="dark-grey-text" style="color: white">SAFARI Tour</a>
              </p>
              <p>
                <a class="dark-grey-text" style="color: white">IKAZE Tour</a>
              </p>
              <p>
                <a class="dark-grey-text" style="color: white">Jallyna Tour</a>
              </p>
              <p>
                <a class="dark-grey-text" style="color: white">WILSON Tours</a>
              </p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
              <!-- Links -->
              <h6 style="color: white;text-align: center ;font-family:' Berkshire Swash'; font-size: 23px">Contact</h6>
              <hr style="width: 60px;margin-left: 40%">
              <p>
                <i class="fas fa-home mr-3" style="color: white">KIGALI, KG.703, Rda</i> 
            </p>
              <p>
                <i class="fas fa-envelope mr-3" style="color: white"> Rwagasabo@gmail.org</i>
              </p>
              <p>
                <i class="fas fa-phone mr-3" style="color: white"> + 250 788 49 42 07</i></p>
              <p>
                <i class="fas fa-print mr-3" style="color: white"> + 250 789 70 95 95</i></p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        
        <div class="footer-copyright text-center text-black-50 py-3" style="background-color: black;font-weight: bold;color:white">© 2019 Copyright:
          <a class="dark-grey-text" href="/"> Rwagasabo.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
{% endblock %}
